---
layout: style
---

.navbar-brand {
  color: #fff !important;
}

.navbar-nav > li > a {
  color: #fff !important;
}

.intro-text .name {
  color: #233140;
}

.intro-text .skills {
  color: #233140;
}