---
layout: style
---

.navbar-brand {
  color: #fff !important;
}

.navbar-nav > li > a {
  color: #fff !important;
}

.intro-text .name {
  color: #233140;
}

.intro-text .skills {
  color: #233140;
}

h2, .star-primary, .star-light {
  color: #233140 !important;
}

.footer-col h3, .footer-col p {
  color: #F5F5F5 !important;
}