<!-- Elérhetőség Section -->
<section id="elerhetoseg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Elérhetőség</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <ul class="list-unstyled">
          <li>Herend, Veszprém megye</li>
          <li>Telefon: +36202326414</li>
          <li>Email: buzasbarnabas04@gmail.com</li>
          <li>Születési dátum: 2004</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Kapcsolat</h3>
        <hr class="star-primary">
        <!-- Itt lehetne social ikonokat vagy egyéb kapcsolatfelvételi lehetőséget elhelyezni -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Kredit</h3>
        <p>jeromelachaud</p>
      </div>
    </div>
  </div>
</section>
