{% assign lang = page.lang | default: "hu" %}
{% assign t = site.data.locales[lang] %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ t.title }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="description" content="{{ t.description }}">
  <meta name="keywords" content="{{ t.keywords }}" />
  <meta name="author" content="{{ t.title }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <!-- Custom Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap" rel="stylesheet">
  <!-- Custom CSS & Bootstrap Core CSS -->
  <link rel="stylesheet" href="{{ "/style.css" | relative_url }}?v=5">
  <!-- Custom Fonts -->
  <link rel="stylesheet" href="{{ "/css/font-awesome/css/all.min.css" | relative_url }}">
</head>
